@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@100;300;400;700&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* NAVBAR */
nav{
    /* border: 2px solid blue; */
    /* overflow: hidden; */
}
nav ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    /* border: 2px solid red; */
    background-color: white;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    overflow: hidden;
    width: 12%;
}
.brand img{
    width: 45%;
    display: flex;
    /* border: 2px solid green; */
}
nav ul li{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    width: 5%;
    margin: 2px 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}

.container{
    border: 2px solid red;
}